{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

<section id="blog-container">
    <div class="blogs blogpost">
        <div class="post">
            <!-- Display image if available -->
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            
            <!-- Display blog title -->
            <h3>{{ post.title }}</h3>

            <!-- Display the content of the post -->
            <p>{{ post.content }}</p>
            
            <!-- Display extra details if available -->
            {% if post.extra_details %}
                <p>{{ post.extra_details }}</p>
            {% endif %}
            
            <!-- Add a link to the next blog post -->
            {% if next_post %}
                <a href="{% url 'blog_detail' id=next_post.id %}">Read Next →</a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
