{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
        <!-- Home -->
        
        <section id="about-home">
                    <h2>About SikshaNepal /</h2>
        </section>

        <section id="about-container">
                    <div class="about-img">
                        <img src="/static/images/a.png" alt="">
                    </div>
                    <div class="about-text">
                        <h2>Welcome to SikshaNepal, Enhance your skills with best Online Courses </h2>
                        <p>You can start and finish one of those popular courses in under a day - for free! Check out the list below.. Take the course for free</p>
                        <div class="about-fe">
                            <img src="/static/images/fe1.png" alt="">
                            <div class="fe-text">
                                <h5>Unlimited Free Courses</h5>
                                <p>You can start and finish one of these popular courses in under our site.</p>
                            </div>
                        </div>
                        <div class="about-fe">
                            <img src="/static/images/fe2.png" alt="">
                            <div class="fe-text">
                                <h5>Lifetime Access</h5>
                                <p>You can start and finish one of these popular courses in under our site.</p>
                            </div>
                        </div>
                    </div>
        </section>

        <!-- trusted by -->
        <section id="trust">
            <h1>Trusted By</h1>
            <p>Replenish man having thing gathering lights yielding shall you</p>
            <div class="trust-img">
                <img src="/static/images/trust (1).png" alt="">
                <img src="/static/images/trust (2).png" alt="">
                <img src="/static/images/trust (3).png" alt="">
                <img src="/static/images/trust (4).png" alt="">
                <img src="/static/images/trust (5).png" alt="">
                <img src="/static/images/trust (6).png" alt="">
            </div>
        </section>

 

{% endblock %}