{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
        <!-- Home -->
        
        <section id="about-home">
                    <h2>Courses /</h2>
        </section>


           <!-- Courses -->

           <section id="course">
            <h1>Our Popular Courses</h1>
            <p>Replenish man having thing gathering lights yielding shall you</p>
            <div class="course-box">
                <div onclick="window.location.href='{% url "course-inner" %}';" class="courses">


                    <img src="/static/images/c1.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c2.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c3.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c4.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c5.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c6.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c1.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c2.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c2.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
                <div class="courses">
                    <img src="/static/images/c2.jpg" alt="">
                    <div class="details">
                        <span>Updated 21/8/21</span>
                        <h6>Javascript Beginners Course</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(239)</span>

                        </div>
                    </div>
                    <div class="cost">
                        $49.99
                    </div>
                </div>
            </div>
        </section>


{% endblock %} 