{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
        <!-- Home -->
        
        <section id="about-home">
                    <h2>Enroll Our Popular Courses And Skill Up /</h2>
        </section>

        <section id="course-inner">
            <div class="overview">
                <img class="course-img" src="/static/images/c1.jpg" alt="">
                <div class="course-head">
                    <div class="c-name">
                        <h2>Javascript Beginner Courses</h2>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Modern JavaScript from the beginning - all the way up to JS expert level!The must-have javascript resource in 2021.</p>
                    </div>
                    <span>$49.99</span>
                </div>
                <h3>Instructor</h3>
                <div class="tutor">
                    <img src="/static/images/c4.jpg" alt="">
                    <div class="tutor-det">
                        <h5>Nischal Moktan</h5>
                        <p>Web Developer At Google</p>
                    </div>
                </div>
                <hr>
                <h3>Course Overview</h3>
                <p>This course is designed to provide students with comprehensive theoretical knowledge and practical skills in its respective field of study. It follows a structured curriculum that promotes critical thinking, problem-solving, and hands-on learning through lectures, assignments, projects, and assessments. Students will develop subject-specific expertise while enhancing communication, teamwork, and analytical abilities, preparing them for academic advancement, professional careers, and lifelong learning.</p>
                <hr>
                <h3>What you'll learn</h3>
                <div class="learn">
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                </div>
            </div>
            <div class="enroll">
    <h3>This course includes:</h3>

    <p><i class="fa-solid fa-video"></i> 52 Hours of Video Content</p>

    <p><i class="fa-solid fa-book-open"></i> 75 Learning Articles</p>

    <p><i class="fa-solid fa-file-arrow-down"></i> Downloadable Resources</p>

    <p><i class="fa-solid fa-infinity"></i> Lifetime Access</p>

    <p><i class="fa-solid fa-mobile-screen-button"></i> Access on Mobile, Tablet & TV</p>

    <p><i class="fa-solid fa-file-pen"></i> Assignments & Practice Exercises</p>

    <p><i class="fa-solid fa-certificate"></i> Certificate of Completion</p>

    <div class="enroll-btn">
        <a class="blue" href="#">Enroll Course</a>
    </div>
</div>
        </section>


{% endblock %}