{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
        <!-- Home -->
        
        <section id="about-home">
                    <h2>Enroll Our Popular Courses And Skill Up /</h2>
        </section>

        <section id="course-inner">
            <div class="overview">
                <img class="course-img" src="/static/images/c1.jpg" alt="">
                <div class="course-head">
                    <div class="c-name">
                        <h2>Javascript Beginner Courses</h2>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Modern JavaScript from the beginning - all the way up to JS expert level!The must-have javascript resource in 2021.</p>
                    </div>
                    <span>$49.99</span>
                </div>
                <h3>Instructor</h3>
                <div class="tutor">
                    <img src="/static/images/c4.jpg" alt="">
                    <div class="tutor-det">
                        <h5>Nischal Moktan</h5>
                        <p>Web Developer At Google</p>
                    </div>
                </div>
                <hr>
                <h3>Course Overview</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iure recusandae tempore? Nisi nobis deserunt ipsam, harum alias optio sit voluptatibus porro molestiae minus nam impedit, rerum expedita? Delectus, dolor.
                Blanditiis eaque explicabo alias eos, repellat, distinctio dolorum aspernatur aut aliquid, corrupti eius dolorem eum doloremque quisquam? Et id error voluptatem explicabo tenetur harum dolores tempora nesciunt sed? Vitae, necessitatibus?
                Vel nesciunt assumenda facere quas aliquid adipisci mollitia dolorum omnis possimus, quam nisi ea, animi distinctio officiis quaerat beatae quis porro officia. Animi deleniti omnis blanditiis voluptatum. Rerum, sed laboriosam.
                Suscipit nostrum atque tempora consectetur quis aspernatur repudiandae molestias delectus, ab quisquam nisi explicabo fuga ad, neque vero! Illo cum mollitia dolore suscipit natus. Consectetur, tempore. Assumenda neque omnis accusamus.
                Quas error vero ratione modi nihil aspernatur esse consequuntur laborum, reprehenderit corporis quam natus reiciendis magni eligendi neque qui pariatur optio laudantium accusantium quae eveniet cupiditate provident dignissimos. Dolor, eligendi.</p>
                <hr>
                <h3>What you'll learn</h3>
                <div class="learn">
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                    <p> <i class="far fa-check-circle"></i> Javascript from scratch - beginner to advanced</p>
                </div>
            </div>
            <div class="enroll">
                <h3>This course includes:</h3>
                <p> <i class="far fa-video"></i> 52 hours video</p>
                    <p> <i class="far fa-newspaper"></i> 75 articles</p>
                    <p> <i class="far fa-cloud-download"></i> Downloadable resources</p>
                    <p> <i class="far fa-infinity"></i> Full lifetime access</p>
                    <p> <i class="far fa-mobile-alt"></i> Access on mobile and TV</p>
                    <p> <i class="far fa-paperclip"></i> Assignments</p>
                    <p> <i class="far fa-trophy-alt"></i> Certificate of completion</p>
                    <div class="enroll-btn">
                        <a class="blue" href="#">Enroll Courses</a>
                    </div>

            </div>
        </section>


{% endblock %}