{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<!-- Home -->


<section id="home">
	{% if user.is_authenticated %}
	<h2>Welcome , {{ user.username }}! Empower Your Future with SikshaNepal</h2>
	<p>
		Unlock your potential with cutting-edge education tailored for tomorrow’s tech leaders. At SikshaNepal, we’re
		committed to helping you grow through hands-on learning, expert guidance, and real-world experience. Let’s shape
		your future—one line of code at a time.
	</p>

	<div class="btn">
		<a class="blue" href="#">Learn More</a>
		<a class="yellow" href="{% url 'course-list' %}">Visit Courses</a>
	</div>
	{% else %}
	<h2>Welcome, Guest ! Empower Your Future with SikshaNepal</h2>
	<p>
		Unlock your potential with cutting-edge education tailored for tomorrow’s tech leaders. At SikshaNepal, we’re
		committed to helping you grow through hands-on learning, expert guidance, and real-world experience. Let’s shape
		your future—one line of code at a time.
	</p>
	<div class="btn">
		<a class="blue" href="#">Learn More</a>
		<a class="yellow" href="{% url 'course-list' %}">Visit Courses</a>
	</div>
	{% endif %}
</section>



<!-- Courses -->


<section id="course">
	<h1>Our Popular Courses</h1>
	<p>Courses rising rapdily in the world !</p>
	<div class="course-box">
		<div class="courses">
			<img src="/static/images/bsccsit.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Bsc-csit</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(390)</span>

				</div>
			</div>
			<div class="cost">
				FREE
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/bca.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>BCA</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				FREE
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/bit.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>BIT</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(290)</span>

				</div>
			</div>
			<div class="cost">
				FREE
			</div>
		</div>
</section>

<!-- Developers -->
<section id="experts">
	<h1>Developers</h1>
	<p>A community of innovators turning ideas into reality with passion, skill, and vision.</p>
	<div class="expert-box">

		<div class="profile">
			<img src="/static/images/nischal.jpg" alt="">
			<h6>Nischal Moktan</h6>
			<p>Python & Django Expert</p>
			<div class="pro-links">
				<a href="https://github.com/Nischal-31" target="_blank">
					<i class="fab fa-github"></i>
				</a>
				<a href="https://www.instagram.com" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/in/nischal-moktan-613685295" target="_blank">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>

		</div>
		<div class="profile">
			<img src="/static/images/bikash.jpg" alt="">
			<h6>Bikash Gosain</h6>
			<p>ASP.NET CORE Expert</p>
			<div class="pro-links">
				<a href="https://github.com/BikashGosain/BikashGosain" target="_blank">
					<i class="fab fa-github"></i>
				</a>
				<a href="https://www.instagram.com" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com" target="_blank">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>

		</div>
		<div class="profile">
			<img src="/static/images/miraj.jpg" >
			<h6>Miraj KC</h6>
			<p>React & Frontend Expert</p>
			<div class="pro-links">
				<a href="https://www.facebook.com" target="_blank">
					<i class="fab fa-github"></i>
				</a>
				<a href="https://www.instagram.com" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/in/miraj-k-c-b998152a3?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app " target="_blank">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>

		</div>
	</div>
</section>


<!-- Contributers -->
<section id="contributers">
	<h1>Contributors</h1>
	<p>A community of supporters providing notes, resources, and guidance to help make this project possible.</p>
	<p class="text-primary fw-semibold mb-5">
      💡 Want to contribute? Share your notes, tips, or resources and join our community today!
    </p>
		<a href="{% url 'contact' %}" class="btn btn-primary btn-lg mb-5 px-5 shadow-sm rounded-pill">
      Contact Us
    </a>

	<div class="contributers-box">

		<div class="profile">
			<img src="/static/images/pro2.webp" alt="">
			<h6>Sameer KC</h6>
			<p>Notes & Resources</p>
		</div>
		<div class="profile">
			<img src="/static/images/pro2.webp" alt="">
			<h6>Suyesh Dahal</h6>
			<p>Notes & Resources</p>
		</div>
		<div class="profile">
			<img src="/static/images/pro1.webp" alt="">
			<h6>Nikika Shah</h6>
			<p>Documentation & Help</p>
		</div>
		<div class="profile">
			<img src="/static/images/pro1.webp" >
			<h6>Yukta Dhunghana</h6>
			<p>Content & Guidance</p>
		</div>
	</div>
</section>



{% endblock %}