{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<!-- Home -->


<section id="home">
	{% if user.is_authenticated %}
	<h2>Welcome , {{ user.username }}! Empower Your Future with TechEduca</h2>
	<p>
		Unlock your potential with cutting-edge education tailored for tomorrow’s tech leaders. At TechEduca, we’re
		committed to helping you grow through hands-on learning, expert guidance, and real-world experience. Let’s shape
		your future—one line of code at a time.
	</p>

	<div class="btn">
		<a class="blue" href="#">Learn More</a>
		<a class="yellow" href="{% url 'course-list' %}">Visit Courses</a>
	</div>
	{% else %}
	<h2>Welcome, Guest ! Empower Your Future with TechEduca</h2>
	<p>
		Unlock your potential with cutting-edge education tailored for tomorrow’s tech leaders. At TechEduca, we’re
		committed to helping you grow through hands-on learning, expert guidance, and real-world experience. Let’s shape
		your future—one line of code at a time.
	</p>
	<div class="btn">
		<a class="blue" href="#">Learn More</a>
		<a class="yellow" href="{% url 'course-list' %}">Visit Courses</a>
	</div>
	{% endif %}
</section>



<!-- Courses -->


<section id="course">
	<h1>Our Popular Courses</h1>
	<p>Replenish man having thing gathering lights yielding shall you</p>
	<div class="course-box">
		<div class="courses">
			<img src="/static/images/c1.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c2.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c3.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c4.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c5.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c6.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c1.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
		<div class="courses">
			<img src="/static/images/c2.jpg" alt="">
			<div class="details">
				<span>Updated 21/8/21</span>
				<h6>Javascript Beginners Course</h6>
				<div class="star">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<span>(239)</span>

				</div>
			</div>
			<div class="cost">
				$49.99
			</div>
		</div>
	</div>
</section>



<!-- Registration 

<section id="registration">
	<div class="reminder">
	   <p>Get 100 Online Courses for Free</p>
	   <h1>Register To Get It</h1>
	   <div class="time">
		<div class="date">
			18 <br> Days
		</div>
		<div class="date">
			23 <br> Hours
		</div>
		<div class="date">
			06 <br> Minutes
		</div>
		<div class="date">
			58 <br> Seconds
		</div>
	   </div>
	</div>
	<div class="form">
		<h3>Create Free Account NOw!</h3>
		<input type="text" placeholder="Name" name="" id="">
		<input type="text" placeholder="Email Address" name="" id="">
		<input type="text" placeholder="Phone Number" name="" id="">
		<div class="btn">
			<a class="yellow" href="#">Submit Form</a>
		</div>
	</div>
</section>
-->

<!-- Profiles -->
<section id="experts">
	<h1>Developers</h1>
	<p>Replenishing minds, gathering brilliance, and illuminating the path with ideas that yield innovation.</p>
	<div class="expert-box">

		<div class="profile">
			<img src="/static/images/pro1.webp" alt="">
			<h6>Ema Trnik</h6>
			<p>python & Algorithm Expert</p>
			<div class="pro-links">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin-in"></i>

			</div>
		</div>
		<div class="profile">
			<img src="/static/images/pro2.webp" alt="">
			<h6>Ema Trnik</h6>
			<p>python & Algorithm Expert</p>
			<div class="pro-links">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin-in"></i>

			</div>
		</div>
	</div>
</section>



{% endblock %}