{% extends "base.html" %}
{% load static %}

{% block title %}Delete Chapter{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow rounded-4 p-4 text-center">
          <h2 class="mb-4">Are you sure you want to delete <strong>"{{ chapter.name }}"</strong>?</h2>

          <form method="POST" action="{% url 'chapter-delete' chapter.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg me-3">Yes, Delete</button>
            <a href="{% url 'chapter-list' subject_id%}" class="btn btn-secondary btn-lg">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
